.main-avalon-logo {
  background-repeat: no-repeat;
  width: 320px;
  height: 60px;
  display: block;
  background-size: cover;
  background-position: center;
  background-image: url('./img/logo.jpg');
}